
.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu{
  background-color: burlywood; 
  height: 100px;
  
}
header{
  text-align: center;
  margin-right: 40px;
}
.ms-auto{
  margin-block: -50px;
  margin-block-end: 40px;
}
/* MyComponent.css */

.navbar-toggler-icon,
.fa-bars {
  color: #f9f4f4 !important; 
  
  
}
